.jumbotron {
    padding: 1em 2em;
    background: #0cebeb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 0 0 5px 5px;

    .image-wrapper{
        border-radius: 50%;
        padding: 5px;
        background: linear-gradient(#D3959B, #BFE6BA);
        width: 25%;
        max-width: 100%;
        height: auto;
        margin: auto;

    }
    h3 {
        text-align: center;
        margin: 10px 0;
    }

}
