.poll-data-box {
    height: auto;
    background: #ffffff;
    border-bottom: 3px solid #20e3b2;
    text-align: center;
    margin-top: 5%;
    padding: 15px 0;

    >h2{
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 5px 10px;


    }
    #myChart {
        height: 500px ;
        width: 100%;
    }

    ul {
        list-style-type: none;
        padding: 25px;
        margin: 35px 0;
        overflow: hidden;

        li{
            width: auto;
            margin: auto;
            border: 2px solid #20e3b2;
            height: 45px;
            line-height: 40px;
            box-sizing: border-box;
            margin-bottom: 15px;
            position: relative;
            background: #ffffff;
            $shadow-color: #20e3b2;
            box-shadow: 1px 2px 0 $shadow-color, 2px 3px 0 $shadow-color;
            cursor: pointer;

            &:hover {
                background: darken(white, 3.5);
            }

            label {
                display: block;

                .custom-control-indicator {
                    position: absolute;
                    left: 8.5px;
                    top: 8.5px;
                }
                .custom-control-description {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-family: "Open Sans";
                    font-size: 14pt;
                    font-weight: 500;
                }
                .option-votes{
                    background: $badge-primary-bg;
                    color: #fff;
                    width: auto;
                    padding: 0 5px;
                    border-radius: 15%;
                    line-height: normal;
                    text-align: center;
                    position: absolute;
                    right: 10px;
                    top: 25%;
                }
            }



        }
    }
    button {
        border: 2px solid #20E3B2;
        padding: 5px 25px;
        background: #ffffff;
        position: relative;
        overflow: hidden;
        z-index: 0;
        font-family: "Open Sans";
        font-weight: bold;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            background: #20E3B2;
            transition: 0.5s;
            color: #fff;
            text-align: center;
            line-height: 35px;
            z-index: -1;
        }
        span {
            z-index: 1;
        }
        &:hover {
            &:before {
                left: 0;
                z-index: -1;

            }
            span {
                color: #ffffff;
            }
        }

    }

}
.chart {
    margin-top: 5%;
}

#editModal {
    .modal-content {
        background: #0ccdbd;
        color: #ffffff;
        i {
            position: absolute;
            right: 15px;
            top: 15px;
            cursor: pointer;
            &:hover {
                color: darken(#ffffff, 5) !important;
            }
        }
    }
    form {
        width: 60%;
        margin: 50px auto;
        text-align: center;
        .input-wrapper {
            position: relative;
            &:after {
                content: " ";
                height: 2px;
                width: 50%;
                background: #D81159;
                bottom: 0;
                left: 0;
                border: 0;
                position: absolute;
                transition: 0.5s;
            }
            &:before {
                content: " ";
                height: 2px;
                width: 50%;
                background: #032d71;
                bottom: 0;
                left: 50%;
                border: 0;
                position: absolute;
                z-index: 10;
                transition: 0.5s;
            }
            &:hover {
                &:after {
                    left: 50%;
                }
                &:before {
                    left: 0;
                }
            }
            input {
                padding: 10px;
                width: 100%;
                text-align: center;
                border: 0;
                background: #09A599;
                color: #ffffff;
                font-family: "Open Sans";
                font-size: 14pt;
            }
        }

        .poll-options {
            .input-wrapper {
                position: relative;
                &:after {
                    content: " ";
                    height: 2px;
                    width: 50%;
                    background: #D81159;
                    bottom: 0;
                    left: 0;
                    border: 0;
                    position: absolute;
                    transition: 0.5s;
                }
                &:before {
                     content: " ";
                     height: 2px;
                     width: 50%;
                     background: #032d71;
                     bottom: 0;
                     left: 50%;
                     border: 0;
                     position: absolute;
                     z-index: 10;
                     transition: 0.5s;
                 }
                &:hover {
                    &:after {
                        left: 50%;
                    }
                    &:before {
                        left: 0;
                    }
                }
                input {
                    padding: 7.5px;
                    text-align: center;
                    width: 100%;
                    border: 0;
                    margin-top: 10px;

                }
            }
        }
    }
    h2 {
        margin: 20px 0;
    }
    button {
        margin-top: 30px;
        width: 100%;
        border: 0;
        color: #ffffff;
        font-weight: bold;
        background: transparent;
        border-radius: 3px;
        padding: 10px 0;
        font-size: 14pt;
        position: relative;
        outline: none;
        transition: 0.5s;
        box-shadow: 0 2px 2px #09A599, -2px 0 2px #09A599;

        &:hover {
            transform: scale(1.02)
        }

    }
}

@keyframes editable {
    0% {
        box-shadow: inset 0 0 50px #673ab7;
    }
    25% {
        box-shadow: inset 0 0 100px #673ab7;

    }
    100% {
        box-shadow: inset 0 0 50px #673ab7;

    }
}

.share-buttons {
    text-align: center;
    .icon {
        display: inline-block;
        height: 60px;
        width: 60px;
        border-radius: 15px;
        margin: 10px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), -1px 0 2px rgba(0, 0, 0, 0.2);
        background: #fff;
        transition: 0.5s;
        text-align: center;
        position: relative;
        overflow: hidden;
        a {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 20;
        }
        i {
            transition: 0.5s;
            line-height: 60px;
            z-index: 10;
        }
        &:hover{
            i{
                transform: scale(1.4) rotateY(360deg);
                color: #fff;
            }
            &:before {
                 width: 100% !important;
            }
        }
        &:nth-child(1) {
            color: #3b5999;
        }
        &:nth-child(2) {
            color: #55acee;
        }
        &:nth-child(3) {
            color: #dd4b39;
        }
        &:nth-child(4) {
            color: #0077B5;
        }
        &:nth-child(1):before {
            content: "";
            background: #3b5999;
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.5s;
        }
        &:nth-child(2):before {
            content: "";
            background: #55acee;
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.5s;
        }
        &:nth-child(3):before {
            content: "";
            background: #dd4b39;
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.5s;
        }
        &:nth-child(4):before {
            content: "";
            background: #0077B5;
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.5s;
        }
        &:nth-child(5):before {
            content: "";
            background: #000;
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.5s;
        }

    }

}

h2 {
    font-size: 18px;
}
@include media-breakpoint-up(md) {
    h2 {
        font-size: 20px;
    }
}

@include media-breakpoint-up(lg) {
    h2 {
        font-size: 28px;
    }
}