.search {
    border: 0;
    box-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 -1px 0 #dfdfdf, 1px 0 0 #dfdfdf, -1px 0 0 #dfdfdf;
    width:75%;
    margin: auto;
    text-align: center;
    transition: 0.5s;

    &:hover {
        box-shadow: 0 1px 0 #20e3b2, 0 2px 0 #20e3b2, 0 3px 0 #20e3b2, 0 -1px 0 #dfdfdf, 1px 0 0 #dfdfdf, -1px 0 0 #dfdfdf;
    }
    &:focus {
        box-shadow: 0 1px 0 $btn-primary-bg, 0 2px 0 $btn-primary-bg, 0 3px 0 $btn-primary-bg, 0 -1px 0 #dfdfdf, 1px 0 0 #dfdfdf, -1px 0 0 #dfdfdf;
    }

}
.main-container {
}