@import "base/variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "components/header";
@import "components/polls-list";
@import "components/add-poll";
@import "components/search";
@import "components/poll-page";
@import "components/delete-modal";


// Components

body {
    background: #E9EBEE;
}
button {
    cursor: pointer;
}
.row {
    margin: 0;
}


//@include media-breakpoint-up(sm) {
//    .poll-data-box h2 {
//        font-size: 18px;
//    }
//}
//
//@include media-breakpoint-up(md) {
//    .poll-data-box h2 {
//        font-size: 20px;
//    }
//}
//@include media-breakpoint-up(md) {
//    .poll-data-box h2 {
//        font-size: 24px;
//    }
//}