@import "base/variables";


/* Bootstrap */
@import "~bootstrap/scss/bootstrap";


/* Components */
@import "components/header";
@import "components/polls-list";
@import "components/add-poll";
@import "components/search";
@import "components/poll-page";
@import "components/delete-modal";
@import "components/login";


body {
    background: #E9EBEE;

}
button {
    cursor: pointer;
}
.row {
    margin: 0;
}



